<extend name="Common/index"/>

<block name="header">
    <link href="/Public/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/Public/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/Public/css/plugins/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet">
</block>

<block name="action-area">
    <div class="col-sm-8">
        <div class="title-action">
            <a onclick="save_blog()" class="btn btn-primary"><i class="fa fa-bold" style="font-size: 14px;">&nbsp;&nbsp;</i>Save</a>
        </div>
    </div>
</block>

<block name="main_title">Blog</block>
<block name="content">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Article
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">-->
                            <!--<i class="fa fa-wrench"></i>-->
                            <!--</a>-->
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="form_editors.html#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="form_editors.html#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="ibox-content" style="padding-bottom: 0px">
                            <form class="form-horizontal">
                                <input type="hidden" id="id" name="id">
                                <input type="hidden" id="article_id" name="article_id">
                                <input type="hidden" id="abstract" name="abstract">
                                <div class="form-group">
                                    <label class="pull-left control-label">Title</label>
                                    <div class="col-sm-5">
                                        <input class="form-control m-b" name="title" id="title"/>
                                    </div>

                                    <label class="m-l-lg pull-left control-label">Author</label>
                                    <div class="col-sm-4">
                                        <input class="form-control m-b" id="author"/>
                                        <input type="hidden" name="user_id" value="{$User.id}">
                                    </div>

                                    <label class="m-l-lg pull-left control-label">List_Order</label>
                                    <div class="col-sm-1">
                                        <input class="form-control m-b" name="list_order" id="list_order"/>
                                    </div>
                                </div>

                                <div class="form-group" style="height: 49px">
                                    <label class="pull-left control-label">Mark</label>
                                    <div class="col-sm-5" id="mark_box">
                                        <input type="hidden" name="mark" id="mark">
                                    </div>

                                    <label class="m-l-lg pull-left control-label">From</label>
                                    <div class="col-sm-6" id="from_box">
                                        <input type="hidden" name="from" id="from">
                                    </div>
                                </div>


                                <div class="hr-line-dashed"></div>
                                <h5>
                                    Abstract

                                    <button class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">Edit</button>
                                    <button class="btn btn-primary  btn-xs" onclick="done()" type="button">Done</button>
                                </h5>
                                <div class="ibox-content no-padding">
                                    <div class="click2edit wrapper p-md" id="abstract_">


                                    </div>
                                </div>
                                <h5>Article</h5>
                                <div class="ibox-content no-padding" style="border-style: none ">

                                    <textarea name="article" data-provide="markdown" rows="10"></textarea>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Blog</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="save_blog()">Save</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="footer-mid">
    <script src="/Public/js/plugins/summernote/summernote.min.js"></script>
    <script src="/Public/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
    <script src="/Public/js/plugins/bootstrap-markdown/markdown.js"></script>
</block>

<block name="script">
    <script>
        $(document).ready(function () {
            from();
            mark();
        });

        function edit() {
            $('#abstract_').summernote({focus : true});
        }

        function mark() {
            var mark, tag_id;
            var tag = 'mark';
            $.post("{:U('Config/getData')}", {where : {name : 'mark', status : 1}}, function (res) {
                $.each(res, function (i, v) {
                    tag_id = tag + '_' + v.id;
                    mark = '<button class="btn btn-sm m-r-sm btn-outline btn-primary" status="0" type="button" id="' + tag_id + '" onclick="chooseTag(\'' + v.id + '\', \'' + tag + '\')">' + v.value + '</button>';
                    $('#mark_box').append(mark);
                });
            }, "JSON")
        }

        function from() {
            var from, tag_id;
            var tag = 'from';
            $.post("{:U('Config/getData')}", {where : {name : 'from', status : 1}}, function (res) {
                $.each(res, function (i, v) {
                    tag_id = tag + '_' + v.id;
                    from = '<button class="btn btn-sm m-r-sm btn-outline btn-primary" status="0" type="button" id="' + tag_id + '" onclick="chooseTag(\'' + v.id + '\',\'' + tag + '\')">' + v.value + '</button>';
                    $('#from_box').append(from);
                });
            }, "JSON")
        }

        function chooseTag(id, tag) {
            var obj = $('#' + tag + '_' + id);
            var box = $('#' + tag);
            var data = box.val();

            if (obj.attr('status') === '0') {
                obj.attr('status', '1');
                obj.attr('class', 'btn btn-sm m-r-sm btn-primary');
                if (data) {
                    data = data + ',' + id;
                }else {
                    data = id;
                }
            } else {
                obj.attr('status', '0');
                obj.attr('class', 'btn btn-sm m-r-sm btn-outline btn-primary');
                var data_ = data.split(',');
                $.each(data_, function (i, v) {
                    if (v === id) {
                        data_.splice(i, 1);
                    }
                });
                data = data_.join(',');
            }

            box.val(data);
            console.log(data);
        }

        function done() {
            var target = $('#abstract_');
            var html = target.code();
            $('#abstract').val(html);
            target.destroy();
        }
        function save_blog() {
            var id = $('#id').val();
            var data = $('form').serialize();
            console.log(data);
            return;
            $.post("{:U('Blog/add')}", data, function (res) {
                if (!id) {
                    id = res.info.id;
                }
                $('#id').val(id);
            }, "JSON");
        }
    </script>
</block>